## Docker
.env

## Telegraf, InfluxDB, Grafana
create-telegraf.iql
telegraf.conf
influxdb.conf
grafana.ini

fritzinfluxdb.ini
fritzinfluxdb-k3s.ini

## Traefik
.htpasswd
acme.json
dynamic_config.yml
traefik.toml
